// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

//Jquery
@import '~jquery-ui/themes/base/all.css';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Admin-lte
@import '~admin-lte/dist/css/adminlte.min.css';

//Font-Awesome
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
//ElementUI
@import '~element-ui/lib/theme-chalk/index.css';
