/*Ribbon CSS*/
.ribbon-wrapper {
    transform: rotate(270deg);
    left: -2px;
}

.ribbon-wrapper .ribbon {
    font-size: 22px;
    font-family: Gabriola;
    font-weight: bold;
    text-transform: lowercase !important;
}

#clearence_carousel .ribbon-wrapper {
    margin-left: 15px;
}
/*Clearance | Specials Images*/
.bg-product-medium-2 {
    background-color: #d1cdcc;
}
.bg-product-medium-2 img {
    width: 150px;
    height: 150px;
}

.bg-product-medium-2 {
    width: auto;
    height: auto;
}

/* banner section */
@media screen and (min-width: 991px){
    .banner-area {
        width: 100%;
        height: 500px;
    }
    .banner-area img {
        width: 100%;
        height: 500px;
    }
}
@media screen and (max-width: 991px){
    .banner-area {
        width: 100%;
        height: 420px;
    }
    .banner-area img {
        width: 100%;
        height: 420px;
    }
}
/*-------------------------*/



/*Banner Areas*/
#banner-image-carousel.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -20px;
    z-index: 200;
}

#banner-image-carousel.owl-carousel .owl-stage-outer {
    z-index: -1;
}

/*Clearence Section Css*/
/* clearence section */
.card-rounded-top {
    /* border: 1px solid #CF7500; */
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
}
.card-rounded-top .clearence_heading{
    font-family: Playfair Display;
    color: black;
}

.card-bdy {
    position: relative;
    overflow-x: hidden;
}

/*Clearance Section Owl Carousel css*/
#clearence_section .owl-theme {
    position: relative;


}

#clearence_section .owl-theme .owl-next,
#clearence_section .owl-theme .owl-prev {
    top: 50%;
    margin-top: -5%;
    position: absolute;
}

#clearence_section .owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}

#clearence_section .owl-theme .owl-next {
    right: 0;
}

#clearence_section .owl-theme .owl-prev {
    left: 0;
}

#clearence_section .owl-carousel.owl-drag .owl-item {
    padding: 0 50px;
}
/* Clearance Section Owl Carousel CSS Ends*/

/*New arrival Items CSS*/
#new_arrival_carousel_item .image-container {
    height: 350px;
    width: 100%;
}

#new_arrival_carousel_item .image-container img {
    width: 100%;
    height: 100%;

}
.general_slider{
    padding: 0 0;
}

#new_items .item {
    margin: 0 30px;
}

#new_items .current .item {
    background: #9D9C9C;
    color: #fff;
    border-radius: 20px;
}

#new_items .owl-prev,
#new_items .owl-next {
    top: 50%;
    margin-top: -5%;
    position: absolute;
}

#new_items.owl-theme .owl-prev {
    left: 0;
}

#new_items.owl-theme .owl-next {
    right: 0;
}

#new_items.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}
/*New arrival Items CSS Ends*/

/*About Us Section CSS*/
.about-us-img {
    width: 100%;
    height: 385px;
}

.about-us-img img {
    width: 100%;
    height: 385px;
}
/*About Us Section CSS Ends*/

/*Reviews and SignUp*/
.signup, .reviews {
    transform: translateY(-70px);
}

.circle-1, .circle-2, .circle-3, .circle-4 {
    position: absolute;
    top: 15px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #00000060;
}

.circle-1, .circle-3 {
    left: 30px;
}

.circle-2, .circle-4 {
    right: 30px;
}

/*Reviews Ratings Stars CSS*/
.reviews-rating {
    margin: -10px;
    font-size: 40px;
    overflow: hidden;
}

.reviews-rating input {
    opacity: 0;
    position: absolute;
}

.reviews-rating a,
.reviews-rating label {
    float: right;
    color: #fff;
    text-decoration: none;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}

.reviews-rating label:hover ~ label,
.reviews-rating input:focus ~ label,
.reviews-rating label:hover,
.reviews-rating a:hover,
.reviews-rating a:hover ~ a,
.reviews-rating a:focus,
.reviews-rating a:focus ~ a {
    color: #F0A500;
    cursor: pointer;
}

.reviews-rating {
    direction: rtl;
}

.reviews-rating a {
    float: none
}

/*Customer Reviews Slider*/
.customer-reviews-slider {
    height: 330px;
    overflow: hidden;
}

#customer-reviews-carousel.owl-theme .owl-dots {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

#customer-reviews-carousel.owl-theme .owl-dots .owl-dot span {
    background: #fff;
}

#customer-reviews-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: #b1b1b1;
}

#customer-reviews-carousel .owl-item {
    height: 220px;
    top: 30px;
}

#customer-reviews-carousel.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: space-between;
}

#customer-reviews-carousel.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 0px 5px;
    padding: 5px 20px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #fff;
}

img.review-images {
    border-radius: 15px;
    width: 100%;
    height: 190px;
}
/*Reviews Ratings Stars CSS Ends*/
/*Reviews and SignUp CSS Ends*/



/*Vertical Sidebar Carousel*/
.vertical-index-sidebar{
    background-color: #fff;
}
.vertical-index-sidebar .catg-slider figure img {
    width: 40px;
    height: 40px;
    margin: 15px;
}
.vertical-index-sidebar .catg-slider figure {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin-bottom: 0.3rem;
    background-color: #b1b1b1;
}
.vertical-index-sidebar .catg-slider {
    cursor: grab;
}
.vertical-index-sidebar .controls {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 10%;
    background: #F0A500;
    color: #000;
    width: 80%;
    display: block !important;
    align-items: center;
}

.vertical-index-sidebar .controls .prev {
    display: none;
}

.vertical-index-sidebar .controls .prev, .controls .next {
    transition: background-color 600ms ease-in-out;
}

.vertical-index-sidebar .controls .prev:hover, .controls .next:hover {
    cursor: pointer;
    /*background-color: #CF7500;*/
}

.vertical-index-sidebar .controls .prev:focus, .controls .next:focus {
    outline: none;
}

/*---------Vertical Sidebar CSS Ends---------*/



/*Media Queries CSS for Vertical Sidebar*/
/*Sm Sidebar Disable for now*/
@media screen and (max-width: 991px) {
    .vertical-sidebar-carousel {
        display: none;
    }

    .smindex-sidebar {
        display: block;
        background-color: #fff;
        height: auto;
    }

    .smindex-sidebar .smindex-sidebar-carousel .categories {
        box-shadow: 0 3px 8px 0 rgba(0, 18, 87, .14);
        margin: 10px;
        padding: 10px 0 5px 0;
    }

    .smindex-sidebar .tns-outer [aria-controls], .smindex-sidebar .tns-outer [data-action] {
        background: transparent;
        border: none;
        font-size: 2rem;
        margin: 0 1.5rem;
        cursor: pointer;
    }

    .smindex-sidebar .tns-outer [aria-controls]:focus, .smindex-sidebar .tns-outer [data-action]:focus {
        outline: none;
    }

}

@media screen and (min-width: 992px) {
    .smindex-sidebar {
        display: none;
    }

    .vertical-sidebar-carousel {
        display: block;
    }
}
