/*Success Box*/

.success-box {
    position: fixed;
    top: 0;
    left: 40%;
    z-index: 1001;
    background: #fff;
    padding:10px 10px;
    border:1px solid #eee;
    border-radius: 0 0 10px 10px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
    overflow: hidden;
    display: none;
}
.success-box img {
    margin-right:10px;
    display:inline-block;
    vertical-align:top;
}
.close-feedback{
    margin-left:15px;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
.close-feedback:hover{
    color: #555;
}
.success-box > div {
    vertical-align: top;
    display: inline-block;
    color: #555;
}



/*Ribbon CSS*/
.ribbon-wrapper {
    transform: rotate(270deg);
    left: -2px;
}

.ribbon-wrapper .ribbon {
    text-transform: lowercase !important;
    padding: 0;
}

#clearence_carousel .ribbon-wrapper {
    margin-left: 15px;
}
/*Clearance | Specials Images*/

.bg-product-medium-2 img {
    /*width: 150px;
    height: 150px;*/
    border-radius: 16px;
    width: 100%;
    height: 200px;
}

.bg-product-medium-2 {
    width: 100%;
    height: auto;
    padding: 0 !important;
}

/* banner section */
@media screen and (min-width: 991px){
    .banner-area {
        width: 100%;
        height: 500px;
    }
    .banner-area img {
        width: 100%;
        height: 500px;
    }
}
@media screen and (max-width: 991px){
    .banner-area {
        width: 100%;
        height: 420px;
    }
    .banner-area img {
        width: 100%;
        height: 420px;
    }
}
/*-------------------------*/



/*Banner Areas*/
#banner-image-carousel.owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: -46px;
    z-index: 200;
}

#banner-image-carousel.owl-carousel .owl-stage-outer {
    z-index: -1;
}

/*Clearence Section Css*/
/* clearence section */
.card-rounded-top {
    /* border: 1px solid #CF7500; */
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
}

.card-bdy {
    position: relative;
    overflow-x: hidden;
    padding: 20px 0;
}

/*Clearance Section Owl Carousel css*/
#clearence_section .owl-theme {
    position: relative;
}

#clearence_section .owl-theme .owl-next,
#clearence_section .owl-theme .owl-prev {
    top: 50%;
    margin-top: -5%;
    position: absolute;
}

#clearence_section .owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}

#clearence_section .owl-theme .owl-next {
    right: 0;
}

#clearence_section .owl-theme .owl-prev {
    left: 0;
}

#clearence_section .owl-carousel.owl-drag .owl-item {
    padding: 0 50px;
}
/* Clearance Section Owl Carousel CSS Ends*/

/*New arrival Items CSS*/
#new_arrival_carousel_item .image-container {
    height: 350px;
    width: 100%;
}

#new_arrival_carousel_item .image-container img {
    width: 100%;
    height: 100%;
}
@media screen and (min-width: 240px) and (max-width: 992px){
    #new_arrival_carousel_item .image-container img {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
}

#new_items .item {
    margin: 0 45px;
}

@media screen and (min-width: 820px) and (max-width: 1300px ){
    #new_items .item {
        margin: 0 25px;
    }
}
@media screen and (min-width: 1300px) and (max-width: 1400px ){
    #new_items .item {
        margin: 0 35px;
    }
}
@media screen and (min-width: 576px) and (max-width: 820px ){
    #new_items .item {
        margin: 0 20px;
    }
}
@media screen and (max-width: 600px ){
    #new_items .item {
        margin: 0;
    }
}

#new_items .current .item {
    background: #9D9C9C;
    color: #fff;
    border-radius: 20px;
}

#new_items .owl-prev,
#new_items .owl-next {
    top: 50%;
    margin-top: -25px;
    margin-left: -20px;
    margin-right: -20px;
    position: absolute;
}

#new_items.owl-theme .owl-prev {
    left: 0;
}

#new_items.owl-theme .owl-next {
    right: 0;
}

#new_items.owl-theme .owl-nav [class*=owl-] {
    background: transparent;
}
/*New arrival Items CSS Ends*/

/*About Us Section CSS*/
@media screen and (max-width: 768px){
    .about-us-img {
        width: 100%;
        height: 405px;
        padding-right: 0;
        padding-left: 0;
    }

    .about-us-img img {
        width: 100%;
        height: 405px;
    }
}
@media screen and (min-width: 768px){
    .about-us-img {
        width: 93%;
        height: 405px;
        padding-right: 30px;
    }

    .about-us-img img {
        width: 93%;
        height: 405px;
    }
}
/*About Us Section CSS Ends*/

/*Reviews and SignUp*/
.signup, .reviews {
    transform: translateY(-70px);
}

.circle-1, .circle-2, .circle-3, .circle-4 {
    position: absolute;
    top: 15px;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-color: #fff;
    border: 2px solid #00000060;
}

.circle-1, .circle-3 {
    left: 30px;
}

.circle-2, .circle-4 {
    right: 30px;
}

/* Rating Star Widgets Style */
.new-react-version {
    padding: 20px 20px;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,0.1);

    text-align: center;
    font-size: 14px;
    line-height: 1.7;
}

.new-react-version .react-svg-logo {
    text-align: center;
    max-width: 60px;
    margin: 20px auto;
    margin-top: 0;
}


.rating-stars ul {
    list-style-type:none;
    padding:0;

    -moz-user-select:none;
    -webkit-user-select:none;
}
.rating-stars ul > li.star {
    display:inline-block;

}

/* Idle State of the stars */
.rating-stars ul > li.star > i.fas {
    font-size: 2rem;
    color: darkgray;
}

/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fas {
    /*color:#F0A500;*/
    color: #d8d98b;
}

/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fas {
    /*color:#F0A500;*/
    color: #d8d98b;
}



#review{
    border-radius: 20px;
}

/*Customer Reviews Slider*/
.customer-reviews-slider {
    height: 330px;
    overflow: hidden;
}

#customer-reviews-carousel.owl-theme .owl-dots {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
    -webkit-tap-highlight-color: transparent;
}

#customer-reviews-carousel.owl-theme .owl-dots .owl-dot span {
    background: #fff;
}

#customer-reviews-carousel.owl-theme .owl-dots .owl-dot.active span {
    background: #b1b1b1;
}

#customer-reviews-carousel .owl-item {
    height: 220px;
    top: 40px;
}

#customer-reviews-carousel.owl-theme .owl-nav {
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#customer-reviews-carousel.owl-theme .owl-nav [class*=owl-] {
    color: #FFF;
    font-size: 14px;
    margin: 0px 5px;
    padding: 5px 20px;
    background: transparent;
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #fff;
}

img.review-images {
    border-radius: 20px;
    width: 100%;
    height: 180px;
}
/*Reviews Ratings Stars CSS Ends*/
/*Reviews and SignUp CSS Ends*/



/*Vertical Sidebar Carousel*/
.vertical-index-sidebar{
    padding-top: 15px;
    background-color: #fff;
}
.vertical-index-sidebar .catg-slider figure img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    /*margin: 10px;*/
}
.vertical-index-sidebar .catg-slider figure {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    margin-bottom: 0.3rem;
    background-color: #b1b1b1;
}
.vertical-index-sidebar .catg-slider {
    cursor: grab;
}
.vertical-index-sidebar .controls {
    margin: 0;
    padding: 0;
    transform: translateY(20px);
    /*background: #F0A500;*/
    background: #d8d98b;
    color: #000;
    width: 100%;
    display: block !important;
    align-items: center;
}

.vertical-index-sidebar .controls .prev {
    display: none;
}

.vertical-index-sidebar .controls .prev, .controls .next {
    transition: background-color 600ms ease-in-out;
}

.vertical-index-sidebar .controls .prev:hover, .controls .next:hover {
    cursor: pointer;
    /*background-color: #CF7500;*/
}

.vertical-index-sidebar .controls .prev:focus, .controls .next:focus {
    outline: none;
}

/*---------Vertical Sidebar CSS Ends---------*/



/*Media Queries CSS for Vertical Sidebar*/
/*Sm Sidebar Disable for now*/
@media screen and (max-width: 991px) {
    .vertical-sidebar-carousel {
        display: none;
    }

    .smindex-sidebar {
        display: block;
        background-color: #fff;
        height: auto;
    }

    .smindex-sidebar .smindex-sidebar-carousel .categories {
        box-shadow: 0 3px 8px 0 rgba(0, 18, 87, .14);
        margin: 10px;
        padding: 10px 0 5px 0;
    }

    .smindex-sidebar .tns-outer [aria-controls], .smindex-sidebar .tns-outer [data-action] {
        background: transparent;
        border: none;
        font-size: 2rem;
        margin: 0 1.5rem;
        cursor: pointer;
    }

    .smindex-sidebar .tns-outer [aria-controls]:focus, .smindex-sidebar .tns-outer [data-action]:focus {
        outline: none;
    }

}

@media screen and (min-width: 992px) {
    .smindex-sidebar {
        display: none;
    }

    .vertical-sidebar-carousel {
        display: block;
    }
}


/* Todays Specials */
#todaySpecials .owl-prev, #weeklySpecials .owl-prev {
    left: 0;
}
#todaySpecials .owl-next, #weeklySpecials .owl-next {
    right: 0;
}
#todaySpecials .owl-next, #todaySpecials .owl-prev, #weeklySpecials .owl-next, #weeklySpecials .owl-prev  {
    position: absolute;
    top: 50%;
    margin-top: -25px;
}