
.smsidebar-menu {
    background: #F7F7F7;
    position: fixed;
    z-index: 10001;
    top: -1px;
    left: 0;
    width: 260px;
    height: 101%;
    overflow-y: scroll;
    -webkit-transition: width .4s linear;
    transition: width .4s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    box-shadow: 1px 0 15px rgba(0, 0, 0, 0.07);
    opacity: 1;
}
.smsidebar-menu.rightActive{
    width: 0;
    transform: translateX(-140px);
}

/*----------------sidebar-wrapper----------------*/


.smsidebar-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.smsidebar-menu a {
    text-decoration: none;
}

li.sidebar-dropdown {
    border-bottom: 1px solid #F0A50030;
}
.smsidebar-menu .sidebar-menu ul li a {
    display: inline-block;
    width: 100%;
    color: #000b16;
    font-size: 16px;
    text-decoration: none;
    position: relative;
    padding: 8px 30px 8px 20px;
}
.smsidebar-menu .sidebar-submenu ul li a {
    padding: 2px 10px 2px 10px;
}
.smsidebar-menu .sidebar-submenu ul li a i{
    color: #cf5f02;
}


.smsidebar-menu .sidebar-menu ul li a i {
    margin-right: 10px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 4px;
}
.smsidebar-menu .sidebar-menu li.sidebar-dropdown > a i{
    font-weight: 900;
    font-style: normal;
    display: inline-block;
    text-align: center;
    position: absolute;
    right: 0;
    top: 8px;
}


/*.smsidebar-menu .sidebar-menu .sidebar-dropdown > a:after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f105";
    font-style: normal;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    background: 0 0;
    position: absolute;
    right: 15px;
    top: 14px;
}*/

.smsidebar-menu .sidebar-menu .sidebar-dropdown .sidebar-submenu ul {
    padding: 5px 0;
}

.smsidebar-menu .sidebar-menu .sidebar-dropdown .sidebar-submenu li {
    padding-left: 25px;
    font-size: 13px;
}

.smsidebar-menu .sidebar-menu .sidebar-submenu {
    display: none;
}

.smsidebar-menu .sidebar-menu .sidebar-dropdown.active > a i {
    transform: rotate(90deg);
    right: 0;
}

/*Sm-sidebar Css Media Query*/
@media screen and (max-width: 991px) {
    #accordion, #special-filters{
        display: none;
    }
    .sidebar-wrapper{
        display: block;
    }
}
@media screen and (min-width: 992px) {
    #accordion, #special-filters{
        display: block;
    }
    .sidebar-wrapper, #toggle-smsidebar{
        display: none !important;
    }
}
