* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fff;
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 2.0em;
}

h3 {
    font-size: 1.8em;
}

h4 {
    font-size: 1.6em;
}

h5 {
    font-size: 1.4em;
}

p{
    font-size: 16px;
}
/*
p {
    font-size: 1.2em;
}
*/

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.right {
    float: right;
}

.left {
    float: left;
}

/* container margin  */
.container-mine {
    margin: 0 60px;
}
@media screen and (max-width: 767px){
    .container-mine{
        margin: 0 30px;
    }
}
@media screen and (max-width: 575px){
    .container-mine{
        margin: 0 16px;
    }
}
.container-mine-2 {
    margin: 0 30px;
    height: 140vh;
    background: rgb(255, 255, 255);
    /*padding-top: 10px;*/
}

/* background color */
.bg-main-primary {
    background-color: #CF7500;
}

.bg-main-secondary {
    background-color: #F0A500;
}

.text-main-primary {
    color: #CF7500;
}

.text-main-secondary {
    color: #F0A500;
}

.text-main-danger {
    color: #dc3545;
}

.bg-product-light {
    background-color: #ece4e4;
}

.bg-product-medium {
    background-color: #d1cdcc;
}

.bg-product-dark {
    background-color: #9D9C9C;
}

/* border-round */
.rounded-right-top {
    border-top-right-radius: 20px;
}

.rounded-left-front {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-bottom-front {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-bottom-right {
    border-bottom-right-radius: 20px;
}
.rounded-bottom-left{
    border-bottom-left-radius: 20px;
}

.rounded-left-front {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.rounded-around {
    border-radius: 20px;
}

.rounded-top-front {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* navigation bar */

.cart {
    position: absolute;
}

.cart-count {
    position: absolute;
    top: -15%;
    right: -45%;
    padding: 0px 6px;
    border-radius: 50%;
}

/* new arrival section */
.new-arrival-tag {
    font-family: "Times New Roman", sans-serif;
    padding-top: 10px;
    font-size: 1.8rem;
}

.top-title {
    width: 100%;
    position: relative;
    border-bottom: 3px solid #CF7500;

}

/* best selling section */
/*----------------*/
.best-selling-tag {
    margin-top: -20px;
}

.best-selling-tag h3 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.best-selling button {
    transition: all 0.2s ease-in;
}

.best-selling button:hover {
    cursor: pointer;
    background-color: #F0A500;
}

/* reviews and signup section */
.section-bar {
    width: 100%;
    height: 70px;
}

.privacy-info {
    line-height: 1;
}

/*Added Css -------*/
/*-----------------------*/
.bg-product-medium img {
    width: 150px;
    height: 150px;
}

.bg-product-medium {
    width: 174px;
    height: auto;
}

/*Special Filters*/
/*----------------*/
#special-filters p{
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
}
#special-filters p a{
    text-decoration: none;
    color: #00000080;
    border-bottom: 1px solid #00000080;
}


/*Footer CSS*/
.footer-container {
    margin: 0 60px;
}
.footer-container p {
    margin-bottom: 0;
}
.large-icon-container .col-4.icon-border-right {
    border-right: 1px solid rgba(0, 0, 0, 0.5);
}
.footer-icons-large {
    width: 80%;
    height: 100px;
}
.footer-container ul li{
    font-size: 15px;
}
.footer-container ul li a{
    color: #212529;
}
.footer-container h6{
    font-size: 12px;
}
#copyright-footer{
    background-color: #0b0b0b;
    color: darkgray;
}
.list-unstyled li.list{
    margin-top: 5px;
}
/*Footer Lines CSS*/
.horzline{
    border-top: 2px solid #8c8b8b;
}

.style7{
    border-top: 2px solid #8c8b8b;
}

/*Owl Carousel Iteration Problem*/
.owl-carousel {
    touch-action: manipulation;
}
