.heading-title {
    color: #343a40;
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

.heading-description-main {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.heading-description {
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.contact-us {
    background-color: #e1e1e1;
    text-align: center;
}

.contact-us h1 {
    font-size: 2.5rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    /*color: #CF7500;*/
    /*color: #94943a;*/
    color: #343a40;
}

.container-sm {
    max-width: 50rem;
}


/*Main Category Page CSS*/
/*------------------------*/
.overlayImage {
    position: relative;
    width: 100%;
    height: 450px;
}

.overlayImage img {
    width: 100%;
    height: 100%;
}

.overlayImage .overlayBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
}

.overlayText {
    color: #fff;
    font-size: 70px;
    font-weight: 800;
    font-family: 'Playfair Display', sans-serif;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
/*------------------------*/
/*Main Category Page CSS Ends*/

/*Category Page CSS*/
/*------------------------*/
.categoryBannerImage{
    height: 450px;
    width: 100%;
}
/*------------------------*/
/*Category Page CSS Ends*/


/*Contact Us Page CSS*/
/*------------------------*/
.card_box .fa-color {
    /*color: #CF7500;*/
    color: #94943a;
}

.card_box .card {
    /*border-color: #CF7500;*/
    border-color: #94943a;
    box-shadow: none;
    border-radius: 15px;
}

.enq-form {
    /*background-color: #CF7500;*/
    background-color: #94943a;
    padding: 30px 0;
    height: 27rem;
}

.enquiry-section {
    /*background-color: #CF7500;*/
    background-color: #94943a;
}
/*------------------------*/
/*Contact Us Page CSS Ends*/


/*Service Pages CSS*/
.service-card-content {
    /*background: #cf7500;*/
    background: #94943a;
    border-radius: 10px;
    position: relative;
    color: #fff;
    width: 100%;
    height: 100%;
    max-width: 400px;
    padding: 16px;
    transform: scale(1);
    transition: transform 300ms ease-in-out;
}
.service-card-content:hover {
    -ms-transform: scale(1.05); /* IE 9 */
    -webkit-transform: scale(1.05); /* Safari 3-8 */
    transform: scale(1.05);
}
.service-card-title{
    font-size: 1.8rem;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
.service-card-time{
    font-weight: normal;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    opacity: 0.8;
}
.service-card-body{
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Lato', sans-serif;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}
.service-card-body p{
    text-decoration: none !important;
    font-family: 'Lato', sans-serif;
    color: #000 !important;
}
.service-card-footer a{
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.service-card-footer a i{
    padding: 0 5px;
}
/*Service Pages CSS Ends*/
