*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    overflow-x: hidden !important;
} */

h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
.container-mine{
    margin: 0 50px;
}
.bg-main-primary{
background-color: #CF7500;
}
.bg-main-secondary{
background-color: #F0A500;
}
.text-main-primary{
background-color: #CF7500;
}
.text-main-secondary{
background-color: #F0A500;
}

/* border-round */
.rounded-right-top{
    border-top-right-radius: 20px;
}
.rounded-left-front{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rounded-right-front{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rounded-around{
    border-radius: 50% !important;
}

/* .cart{
    position: absolute;
} */

/* .cart-count{
    position: absolute;
    top: -15%;
    right: -45%;
    /* padding: 2px 6px; */
    padding: 0px 6px;
    border-radius: 50%;
} */
