*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
.container-mine{
    margin: 0 50px;
}
.bg-main-primary{
background-color: #CF7500;
}
.bg-main-secondary{
background-color: #F0A500;
}
.text-main-primary{
background-color: #CF7500;
}
.text-main-secondary{
background-color: #F0A500;
}

/* border-round */
.rounded-right-top{
    border-top-right-radius: 20px;
}
.rounded-left{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
