*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    overflow-x: hidden !important;
} */

h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
.container-mine{
    margin: 0 60px;
}
.container-mine-2{
    margin: 0 30px;
    height: 130vh;
    background: rgb(255, 255, 255);
    padding-top: 10px;
}
.bg-main-primary{
background-color: #CF7500;
}
.bg-main-secondary{
background-color: #F0A500;
}
.text-main-primary{
background-color: #CF7500;
}
.text-main-secondary{
background-color: #F0A500;
}

/* border-round */
.rounded-right-top{
    border-top-right-radius: 20px;
}
.rounded-left-front{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.rounded-bottom-front{
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}
.rounded-bottom-right{
    border-bottom-right-radius: 20px;
    /* border-bottom-right-radius: 20px; */
}
.rounded-left-front{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.rounded-around{
    border-radius: 50% !important;
}

.cart{
    position: absolute;
}

.cart-count{
    position: absolute;
    top: -15%;
    right: -45%;
    padding: 0px 6px;
    border-radius: 50%;
}
.col-md-2, .col-md-6, .col-md-10{
    margin: 0;
    padding: 0;
}

/* sidebar owl-carousel vertical slider */
  .hero-sidebar{
      width: 100%;
      height: 150vh;
  }
  .owl-carousel{
      width: 100%;
      height: 100vh;
      /* background-color: #ffffff; */
      display: flex;
      justify-content: space-between;
      /* transform: rotate(90deg); */
  }
  .owl-carousel .item{
    width: 100%;
    height: 100px;
    /* transform: rotate(-90deg); */
  }

  div.owl-carousel .owl-nav .owl-prev{
    display: none;
}
 div.owl-carousel .owl-nav .owl-next{
    text-align: center;
    font-size:10px;
    position: absolute;
    color: #000000;
    bottom: 33%;
    right: -20px; 
}