*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
/* container margin  */
.container-mine{
    margin: 0 60px;
}
.container-mine-2{
    margin: 0 30px;
    height: 132vh;
    background: rgb(255, 255, 255);
    padding-top: 10px;
}
/* background color */
.bg-main-primary{
background-color: #CF7500;
}
.bg-main-secondary{
background-color: #F0A500;
}
.text-main-primary{
color: #CF7500;
}
.text-main-secondary{
color: #F0A500;
}
.bg-product-light{
    background-color: #ece4e4;
}
.bg-product-medium{
    background-color: #d1cdcc;
}
.bg-product-dark{
    background-color: #9D9C9C;
}

/* border-round */
.rounded-right-top{
    border-top-right-radius: 20px;
}
.rounded-left-front{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rounded-bottom-front{
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rounded-bottom-right{
    border-bottom-right-radius: 20px;
}
.rounded-left-front{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.rounded-around{
    border-radius: 20px;
}
.rounded-top-front{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

/* navigation bar */

.cart{
    position: absolute;
}
.cart-count{
    position: absolute;
    top: -15%;
    right: -45%;
    padding: 0px 6px;
    border-radius: 50%;
}

/* sidebar owl-carousel vertical slider */
.hero-sidebar{
      width: 100%;
      height: 150vh;
      position: relative;
  }
.sidebar-carousel .owl-carousel{
      width: 135vh;
      transform: rotate(90deg);
      position: absolute;
      left: -149%;
      top: 44%;
    }
.sidebar-carousel .owl-carousel .item{
    width: 100%;
    height: 100px;
    transform: rotate(-90deg);
}

.sidebar-carousel div.owl-carousel .owl-nav .owl-prev{
    display: none;
}
.sidebar-carousel div.owl-carousel .owl-nav .owl-next{
    text-align: center;
    font-size:10px;
    position: absolute;
    color: #000000;
    bottom: 33%;
    right: -25px; 
}

.sidebar-carousel .owl-carousel .item{
    width: 100% ;
}

/* banner section */
.banner-area{
    width: 100%;
    height: 82vh;
}

/* clearence section */
.card-rounded-top{
    /* border: 1px solid #CF7500; */
    border-top-right-radius: 25px !important;
    border-top-left-radius: 25px !important;
}
.card-bdy{
    position: relative;
    overflow-x: hidden;
}
/* #clearence_carousel.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
  }
  #clearence_carousel .owl-nav button.owl-prev {
    left: 0;
  }
  #clearence_carousel .owl-nav button.owl-next {
    right: 0;
  }
  
  #clearence_carousel .owl-dots {
    text-align: center;
    padding-top: 15px;
  }
  #clearence_carousel .owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
  }
  #clearence_carousel .owl-dots button.owl-dot.active {
    background-color: #000;
  }
  #clearence_carousel .owl-dots button.owl-dot:focus {
    outline: none;
  }
  #clearence_carousel.owl-nav button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(255, 255, 255, 0.38) !important;
  }
  #clearence_carousel span {
      font-size: 70px;    
      position: relative;
      top: -5px;
  }
  #clearence_carousel .owl-nav button:focus {
      outline: none;
  }  */

  #clearence_carousel .item{
    height: 42vh;  
  }

  /* new arrival section */
  .new-arrival-tag{
    padding-top: 15px !important;
    font-size: 1.3rem;
  }
  .top-title{
      width: 100%;
      position: relative;
      border-bottom: 3px solid #CF7500;

  }
  #new_arrival_carousel{
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
  }

  #new_arrival_carousel .item{
      margin: 0 auto;
      width: 30vw;
      height: 50vh;
      display: flex;
      justify-content: center;
      align-items: center; 
  }

 /* general-slider */

 /* #general-slider{
     width: 100%;
     height: 55vh;
 } */

 #general-product-slider .item{
     height: 45vh;
 }

 /* best selling section */
 .best-selling-tag{
     /* padding: auto 15px; */
     margin-top: -20px;
 }
 .best-selling-tag h3{
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }