*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    overflow-x: hidden !important;
} */

h1 
    { 
    font-size: 2.2em; 
} 
     
h2 
    { 
    font-size: 2.0em;     
} 
     
h3 
    { 
    font-size: 1.8em; 
} 
     
h4 
    { 
    font-size: 1.6em;     
} 
     
h5 
    { 
    font-size: 1.4em;     
} 
     
p 
    { 
    font-size: 1.2em;     
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.clear 
    { 
    clear:both; 
} 

.right 
    { 
    float: right; 
} 

.left 
    { 
    float: left; 
}
.container-mine{
    margin: 0 60px;
}
.container-mine-2{
    margin: 0 20px;
}
.bg-main-primary{
background-color: #CF7500;
}
.bg-main-secondary{
background-color: #F0A500;
}
.text-main-primary{
background-color: #CF7500;
}
.text-main-secondary{
background-color: #F0A500;
}

/* border-round */
.rounded-right-top{
    border-top-right-radius: 20px;
}
.rounded-left-front{
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.rounded-right-front{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.rounded-around{
    border-radius: 50% !important;
}

.cart{
    position: absolute;
}

.cart-count{
    position: absolute;
    top: -15%;
    right: -45%;
    padding: 0px 6px;
    border-radius: 50%;
}
.col-md-2, .col-md-6, .col-md-10{
    margin: 0 !important;
    padding: 0 !important;
}

/* sidebar owl-carousel vertical slider */
/* .owl-carousel{
    transform: rotate(90deg);
    width: 100%; 
    margin-top:100px;
  } 
  .item{
    width: 100%;
    height: 150px;
    background-color: #ffffff;
    border-top: 1px solid #000000;
    transform: rotate(-90deg);
  }
  .owl-carousel .owl-nav{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: calc(100% - 95%);
  }
  div.owl-carousel .owl-nav .owl-prev, div.owl-carousel .owl-nav .owl-next{
      font-size:6px;
      top:unset;
      bottom: 15px; 
  } */
  .hero-sidebar{
      width: 100%;
      height: 150vh;
  }
  .owl-carousel{
      width: 100%;
      height: 100%;
      background-color: #ffffff;
      display: flex;
      justify-content: space-between;
      /* top: calc(100% - 95%); */
  }
  .owl-carousel .item{
    width: 100%;
    height: 100px;
  }
  